html, body {
  height: 100%;
}

:root {
  --base-font-size: #{$base-font-size};
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: var(--base-font-size, #{$base-font-size});
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
    background-color: $body-bg;
    color: $text-color;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}

body[data-theme="dark"] a {
  color: lighten($brand-color, 10%);

  &:hover {
    color: $text-color-dark;
  }
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
  margin-left: 1em;
  padding: 0.4em 0.9em;
  border: 1px solid lighten($brand-color, 5%);
  border-radius: 999px;
  background: transparent;
  color: inherit;
  font-size: 0.9em;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  &:hover {
    background: lighten($brand-color, 40%);
    border-color: $brand-color;
  }

  &:focus-visible {
    outline: 2px solid $brand-color;
    outline-offset: 2px;
  }
}

.zoom-controls {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
  margin-left: 0.75em;
}

.zoom-btn {
  border: 1px solid lighten($brand-color, 5%);
  background: transparent;
  color: inherit;
  border-radius: 6px;
  padding: 0.3em 0.6em;
  cursor: pointer;
  font-size: 0.85em;
  transition: background 0.2s ease, border-color 0.2s ease;

  &:hover {
    background: lighten($brand-color, 42%);
    border-color: $brand-color;
  }

  &:focus-visible {
    outline: 2px solid $brand-color;
    outline-offset: 2px;
  }
}

.section-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin: 1.5em 0;
}

.pill-link {
  display: inline-block;
  padding: 0.35em 0.9em;
  border-radius: 999px;
  border: 1px solid lighten($brand-color, 10%);
  background: transparent;
  color: inherit;
  font-weight: 600;
  transition: background 0.2s ease, border-color 0.2s ease;

  &:hover {
    background: lighten($brand-color, 42%);
    border-color: $brand-color;
  }
}



p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://iamsteve.me/blog/horizontal-scrolling-responsive-menu */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }


/* Button */
.simplebutton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
      border-color: #000000;
      background: #f7f7f7;
  }
}

/* Article list in blog and archive page */
.article-list {
  margin: 1em 0;
}
