<div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/archive/">Archive</a>
        <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Toggle theme">System</button>
        <span class="zoom-controls">
          <button id="zoom-in" class="zoom-btn" type="button" aria-label="Increase font size">A+</button>
          <button id="zoom-reset" class="zoom-btn" type="button" aria-label="Reset font size">A</button>
          <button id="zoom-out" class="zoom-btn" type="button" aria-label="Decrease font size">A-</button>
        </span>
</div>
